<% content_for(:nav) do %>
         <div class="container">
           <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="http://BS.LeveragedSynergies.com">Business Spew Generator</a>
           </div>
           <div class="navbar-collapse collapse">
             <ul class="nav navbar-nav">
               <li class="active"><a href="/">Make BS</a></li>
<!--  This will be re-enabled once I have completely implemented the categories 
<li><a id="selectCategory" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">BS Category<span class="caret"></span></a>
                 <ul class="dropdown-menu" role="menu">
                   <li><a onClick="var category='corporate';document.getElementById('category').value=category;getElementById('selectCategory').firstChild.data=category;">Corporate</a></li>
                   <li><a onClick="var category='law';document.getElementById('category').value=category;getElementById('selectCategory').firstChild.data=category;">Law</a></li>
                   <li class="divider"></li>
-->
                 </ul>
               </li>
             </ul>
           </div><!--/.nav-collapse -->
         </div>
<% end %> 
<section class="content-section" role="main">

<div class="row">
	<h1 class="col-12">BusinessSpew Generator</h1>
</div>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
	<h2>How It Works</h2>
       <p>BusinessSpew(BS) is that seemingly endless flow of acronyms, jargon and buzzwords that sneak into almost ALL business conversations.  You see it in memos, reports, email messages and even hear it in telephone "con calls".</p>
       <p>We have had fun developing this but the most fun is when you slip a few of these sentences in on unsuspecting colleagues as part of some 'real' business correspondence!  Pin up an OFFICIAL MEMO on the bulletin board and watch the heads bob in agreement as they affirm these deep business concepts.</p>
</div>
<div class="col-md-1"></div>
</div>
</section>

<section>
<%= render partial: 'session/spewform' %>
</section>

<section>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-4 list-group">
<div class="list-group-item active">
<h4 class="list-group-item-heading">BusinessSpew formatted to fit in a Tweet</h4>
</div>

<div class="list-group-item" title="Copy and Paste this into Twitter">
<p class="tweetified list-group-item-text">
<%= @tweet %>
</p>
</div>

</div>
</div>
</div>

</section>
